    @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Roboto|Lato|Fondamento|Bubblegum+Sans');
    html {
        scroll-behavior: smooth;
        margin: 0;
        width: 100%;
    }
    
    body {
        width: 100%;
        margin: 0 auto;
    }
    
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        text-align: center;
        font-size: 6vh;
        font-family: 'Bubblegum Sans';
        padding: 2vh;
        height: 14vh;
    }
    
    a:hover,
     :active {
        text-decoration: none;
    }
    
    .navbar-custom {
        height: 12vh;
        padding: .2vh;
        /* background: rgb(2, 0, 36); */
        /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 113, 121, 1) 39%, rgba(9, 118, 128, 1) 42%, rgba(0, 212, 255, 1) 100%); */
        background: linear-gradient(to left, #34e89e, #0f3443);
        white-space: nowrap;
        position: sticky;
        z-index: 2;
        top: 0;
    }
    
    .navbar-custom .navbar-brand {
        font-family: 'Averia Serif Libre';
        font-size: 4vh;
        padding-left: 2vh;
        color: white;
    }
    
    .navbar-custom .navbar-brand:hover {
        color: white;
    }
    
    .navbar-custom .navbar-brand:visited {
        color: white;
    }
    
    .navbar-custom .navbar-nav .nav-link {
        color: white;
        transition: .4s ease;
        font-family: "Lato";
        font-size: 2.7vh;
        padding-left: 1.2vw;
        margin-left: .5vw;
        margin-right: .5vw;
        padding-right: 1.2vw;
        border-radius: 1.3vw;
    }
    
    .navbar-custom .navbar-nav .nav-active {
        color: white;
        background-color: black;
        border-radius: 1.3vw;
    }
    
    .navbar-custom .navbar-nav .nav-link:hover {
        color: white;
        background-color: black;
        transition: .4s ease;
    }
    
    @media only screen and (max-width: 768px) {
        .navbar-custom .navbar-collapse {
            /* background-color: #2dcaa8; */
            background: linear-gradient(to left, #34e89e, #0f3443);
            border-radius: 1vh;
            padding: 1vh;
        }
        #contact .container .row .cont {
            padding-left: 17vw;
            margin-bottom: 5vw;
        }
        .name h1 {
            font-size: 3rem;
        }
        .name p {
            font-size: 1.2rem;
        }
        footer .fa {
            margin-left: 2vw;
            margin-right: 2vw;
            transition: .3s ease;
        }
    }
    
    .dropdown .dropdown-menu {
        background-color: #52e0bdcb;
        background: #2dcaa8;
        padding: .5rem;
    }
    
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
    }
    /* .dropdown-menu {} */
    
    main {
        font-weight: 700;
    }
    
    .jumbotron {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .jumbotron:nth-child(even) {
        background-color: white;
        color: black;
    }
    
    .jumbotron:nth-child(odd) {
        background-color: black;
        color: white;
    }
    /* ////////////////////////////////////////////////// */
    
    #home {
        height: 73.8vh;
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=940');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .name {
        margin-left: 15vw;
        margin-right: 15vw;
        width: 70vw;
    }
    
    .name h1 {
        width: 100%;
        margin: 0;
        font-size: 5rem;
        color: black;
        font-family: 'Averia Serif Libre';
    }
    
    .name p {
        color: rgb(35, 114, 107);
        font-size: 1.5rem;
        font-family: 'Lato';
    }
    /* ///////////////////////////// */
    
    #img .jumbotron {
        margin-left: .2rem;
        margin-right: .2rem;
        max-width: 100%;
    }
    
    .heading {
        font-size: 1.9rem;
        font-family: 'Fondamento';
    }
    
    .card {
        font-size: 1em;
        z-index: 0;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius: .28571429rem;
        box-shadow:5px 5px rgba(0,0,0,.4);
        transition:0.3s ease-in-out;
    }
    
    .card:hover {
        transition:0.3s ease-in-out;
        box-shadow:10px 10px rgba(0,0,0,.7);
    }
    
    .card-block {
        font-size: 1em;
        position: relative;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        display: none;
        opacity: 0;
        width: 100%;
    }
    
    .card-block h5 {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .card-block p {
        font-family: 'Lato';
        color: black;
        font-weight: 300;
        font-size: .82rem;
    }
    
    .card-img-top {
        display: block;
        width: 100%;
        /* height: 10rem; */
        height: auto;
        transition: .4s ease;
    }
    
    h5 span {
        float: right;
    }
    
    #nat {
        background-color: rgba(185, 240, 97, 0.459);
        color: black;
    }
    
    #arch {
        background-color: rgba(112, 172, 228, 0.555);
        color: black;
    }
    
    #food {
        background-color: rgba(240, 185, 134, 0.548);
        color: black
    }
    
    .info {
        position: absolute;
        display: block;
        z-index: 2;
        opacity: 1;
    }
    /* ///////////////////////////////////////////////////////////// */
    
    .page-footer {
        /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 113, 121, 1) 39%, rgba(9, 118, 128, 1) 42%, rgba(0, 212, 255, 1) 100%);
     */
        background-color: black;
    }
    
    .page-footer .d-flex {
        padding: 1vw;
    }
    
    footer .fa {
        padding: 1.4vw;
        font-size: 2rem;
        margin-left: 1vw;
        margin-right: 1vw;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: white;
    }
    
    .fa-facebook:hover {
        background: #3B5998;
        color: white;
        transition: .4s ease-in-out;
    }
    
    .fa-github:hover {
        background-color: white;
        color: black;
        transition: .4s ease-in-out;
    }
    
    .fa-instagram:hover {
        transition: .4s ease-in-out;
        color: white;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }
    
    .fa-linkedin:hover {
        background: #007bb5;
        color: white;
        transition: .4s ease-in-out;
    }
    
    .footer-copyright {
        background: rgba(255, 255, 255, .1)
    }
